!!! 5
%html{:lang => 'en'}
  %head
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{:name => :viewport, :content => 'width=device-width,initial-scale=1'}
    %title= @title.present? ? "#{@title} | AuthSig" : "AuthSig"
    =favicon_tag 'favicon.ico'
    %link{:href => 'http://fonts.googleapis.com/css?family=Varela', :rel => :stylesheet}
    =stylesheet_link_tag 'bootstrap', 'bootstrap-responsive', :application
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'AuthSig', '/', :class => 'navbar-brand'
    .container.main
      .main-wrapper
        =[:error, :warning, :success, :notice].map { |type| flash_tag(type, :class => "alert alert-#{type} fade in", :bootstrap => true) }.join.html_safe
        .row=yield

        .row
          %br
        .main-wrapper-push

    %footer
      .footer-wrapper.container
        %p
          - if current_user
            Logged in as
            = current_user.login
            %a{href: '/sessions/logout'} logout!
          - else
            %a{href: '/sessions/login'} login!
        %p.pull-left
          Copyright &copy;
          =Time.now.year
          AuthSig
        %ul.pull-right.footer-links
    =javascript_include_tag 'jquery-1.9.1.min.js', 'bootstrap.min.js', :application
